body {
  font-family: "Tajawal";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}

select {
  min-width: 100px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  outline: none;
  border: none;
  box-shadow: none !important;
}
textarea {
  field-sizing: content;
}

select {
  background-position: left 1.5rem !important;
}

button {
  cursor: pointer;
}
.no-transition * {
  transition: none !important;
}

.text-gray-500 {
  color: var(--color-gray-500);
}

.text-pink-500 {
  color: var(--color-pink-500) !important;
}

.text-primary-500 {
  color: var(--color-primary-500) !important;
}

.bg-primary-500 {
  background-color: var(--color-primary-500) !important;
}
.text-primary-400 {
  color: var(--color-primary-400) !important;
}

button:not(.accordion-button, .nav-link) {
  transition: 0.33s ease-out;
  &:hover {
    translate: 0 1px;
    /* box-shadow: 0 2px 6px; */
  }
}

.btn {
  box-shadow: none;
  border: 0;
}

.btn-yellow-500,
.btn-yellow-500:hover {
  background-color: var(--color-yellow-500);
  color: var(--color-primary-500);
}

.btn-primary-500,
.btn-primary-500:hover,
.btn-primary-500:active {
  background: var(--color-primary-500) !important;
  color: #fff !important;
}

.btn-outline-primary-500 {
  color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  background: transparent;
}

.btn-outline-primary-500:hover,
.btn-outline-primary-500:active {
  background-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  color: #fff;
}

.btn-outline-danger,
.btn-outline-danger:hover,
.btn-outline-danger:active {
  color: #ef4444;
  border: 1px solid #ef4444;
  background: transparent;
}

.btn-outline-yellow-500,
.btn-outline-yellow-500:hover,
.btn-outline-yellow-500:active {
  color: var(--color-yellow-500);
  border: 1px solid var(--color-yellow-500);
  background: transparent;
}

.btn:active {
  opacity: 0.88;
}

.bg-gray-800 {
  background-color: var(--color-gray-800);
}
.swiper {
  box-sizing: content-box;
}
.swiper-wrapper {
  display: grid !important;
  grid-auto-flow: column;
}
.swiper-button-next,
.swiper-button-prev {
  backdrop-filter: blur(2px);
  width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 1.25rem;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px 1px rgba(27, 27, 27, 0.36);
  left: unset !important;
  right: unset !important;

  &::after {
    zoom: 0.5;
    color: var(--color-gray-500);
  }
}

.section-title {
  color: var(--color-primary-500);
  font-size: 44px;
  font-weight: 700;
  line-height: 4rem;
  text-transform: capitalize;
}

.section-sub-title {
  color: var(--color-gray-500);
  font-size: 20px;
  font-weight: 500;
}

.input-with-button {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 18.75rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  input {
    border: none !important;
    outline: none !important;
    color: #7b7b7b;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.9px;
    letter-spacing: 0.4px;
    padding-inline-start: 1rem;

    &::placeholder {
      color: #acacac;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .btn {
    /* position: absolute; */
    /* top: 50%;
    transform: translateY(-50%); */
    inset-inline-start: 6px;
    border-radius: 18.75rem;
    background: #60c1c4;
    color: #fff;
    font-size: 1rem;
    padding-inline: 3rem;
  }

  @media (max-width: 992px) {
    padding: 0.5rem;
  }
  @media (max-width: 440px) {
    padding: 0.5rem;
  }
}

.btn-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-option-radion {
  input {
    display: none;
  }
  label {
    display: flex;
    align-items: center;
    gap: 8px;
    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border: 2px solid var(--color-pink-500);
      border-radius: 0.5rem;
    }
  }
  &:has(input:checked) {
    label {
      &::before {
        background-color: var(--color-pink-500);
        box-shadow: inset 0 0 1px 1px #fff;
      }
    }
  }
}

.modal-view {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}
.gl-star-rating--stars {
  &::after,
  &::before {
    background-color: var(--color-primary-500) !important;
    display: none;
  }
  &::after {
    padding: 6px !important;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  .input-with-button {
    border: 1px solid var(--color-primary-500);
    display: flex;
    align-items: center;
    padding: 0.35rem 0.5rem;
    input {
      direction: unset;
    }
    .btn {
      position: static;
      transform: none;
      padding: 0.75rem;
    }
  }
}

.text-show-toggler {
  .text-to-toggle {
    display: none;
  }

  &:has(input[type="checkbox"]:checked) {
    .text-to-toggle {
      display: inline;
    }
    .btn-toggler {
      display: none;
    }
  }
}
.share-list {
  position: relative;

  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    padding: 0;
    box-shadow: none;
    border: 0;
  }

  .share-list-options {
    display: flex;
    position: absolute;
    inset-inline-end: 0 !important;
    left: unset;
    right: unset;
    inset-inline-start: unset;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(27, 27, 27, 0.26);
    transition: 0.3s ease-out;
    span {
      width: 1.5rem;
      cursor: pointer;
    }
  }
}
.article-content ul {
  list-style-type: disc;
}

.article-content ol {
  list-style-type: decimal;
}

.article-content ul,
.article-content ol {
  padding-inline-start: 1.5rem;
  margin-bottom: 1rem;
}

.article-content li {
  margin-bottom: 0.5rem;
}

.gallery-swiper {
  height: 450px !important;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .swiper-slide-thumb-active {
    opacity: 1 !important;
  }

  .swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .accordion-item {
    background-color: #fff;
    border-radius: 1.2rem;
    overflow: hidden;
    padding: 1rem;
    padding-bottom: 0;
    .accordion-header {
      padding: 0;
      .accordion-button {
        align-items: start;
        margin-bottom: 1rem;
        padding: 0;
        gap: 12px;
        background-color: transparent !important;
        box-shadow: none;
        justify-content: space-between;
        color: var(--color-gray-400);
        font-weight: 500;

        &::after {
          margin: 0;
          background-image: url(/images/icons/accordion-toggler.svg);
          width: 12px;
          height: 12px;
          background-size: contain;
          translate: 0 50%;
          rotate: 180deg !important;
          transform: unset !important;
          transition: 0.3s ease-out;
        }

        &:not(.collapsed)::after {
          rotate: 0deg !important;
        }
      }
    }

    .accordion-collapse {
    }
    .accordion-body {
      padding: 0;
      padding-bottom: 1rem;
    }
  }
}

.collapse {
  visibility: unset !important;
}

.qoute {
  position: absolute;
  background-color: #fff;
  color: var(--color-gray-400);
  padding: 1rem;
  border: 2px solid var(--color-pink-500);
  border-radius: 12px;
  left: 50%;
  translate: -50% -1rem;
  width: max-content;
  text-align: center;
  img {
    position: absolute;
    top: 0;
    translate: 0 -70%;
    left: 1rem;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(0);
  }

  to {
    transform: rotate(0);
  }
}

.form-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  direction: rtl;
  color: var(--color-gray-400);
  gap: 1rem;

  .waving-hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  .form {
    .form-group {
      margin-bottom: 1rem;
      .form-control,
      .form-select {
        padding: 0.5rem 1rem;
        border: 1px solid #e7e6e5;
        border-radius: 0.35rem;
        font-weight: 400 !important;
        color: var(--color-black-100);
        font-size: 16px;
        &::placeholder {
          color: #737865aa !important;
          font-size: 16px;
        }
      }

      .form-select {
        background-position: left 0.75rem center !important;

        option {
          font-weight: 400;
        }
      }
    }

    .form-check {
      padding-left: 0 !important;
      padding-inline-start: 1.5rem;
      position: relative;
      .form-check-input {
        border: 1px solid var(--color-gray-500) !important;
        outline: var(--color-gray-500) !important;
        box-shadow: none !important;
        float: unset !important;
        position: absolute;
        inset-inline-start: 0;
        margin-inline-end: 0.5rem;
      }
      .form-check-input:checked {
        background-color: var(--color-primary-500);
        border-color: var(--color-primary-500);
        --bs-form-check-bg-image: url("/images/icons/check-mark.svg");
        background-size: 110%;
        background-position: center;
      }
    }

    .form-otp {
      display: flex;
      gap: 1rem;
      justify-content: center;

      .otp-input {
        width: 50px;
        height: 50px;
        padding: 0.5rem 1rem;
        box-shadow: none !important;
        border: none !important;
        font-weight: 400 !important;
        color: var(--color-black-100);
        font-size: 14px;
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--color-gray-400) !important;
        caret-color: var(--color-gray-400);
        &::placeholder {
          color: #737865aa !important;
          font-size: 14px;
        }

        &.filled {
          background-color: #fff;
        }
      }
    }
  }
}
